In [1]:
import pdblp
import pandas as pd
import numpy as np

In [10]:
con = pdblp.BCon(port = 8194, timeout = 5000)
con.start()

In [11]:
con.bdh('SPY US EQUITY', 'PX_LAST', '20150629', '20150630')

ticker     SPY US EQUITY
field            PX_LAST
date
2015-06-29        205.42
2015-06-30        205.85

In [12]:
con.bdh('SPY US EQUITY', ['PX_LAST', 'VOLUME'], '20150629', '20150630', longdata = True)

        date         ticker    field         value
0 2015-06-29  SPY US EQUITY  PX_LAST  2.054200e+02
1 2015-06-29  SPY US EQUITY   VOLUME  2.026213e+08
2 2015-06-30  SPY US EQUITY  PX_LAST  2.058500e+02
3 2015-06-30  SPY US EQUITY   VOLUME  1.829251e+08

In [17]:
con.bdh('AAPL US Equity', 'PX_LAST', '20150101', '20150830')

ticker     AAPL US Equity
field             PX_LAST
date
2015-01-02         27.333
2015-01-05         26.563
2015-01-06         26.565
2015-01-07         26.938
2015-01-08         27.973
...                   ...
2015-08-24         25.780
2015-08-25         25.935
2015-08-26         27.423
2015-08-27         28.230
2015-08-28         28.323

[166 rows x 1 columns]

In [ ]:
with pdblp.bopen(port=8194) as bb:
    df = bb.bdh('SPU US Equity', 'PX_LAST', '20150629', '20150630')